body
{
  background-color:   #99a3a4;

}

fieldset
{
  background-color: #bfc9ca;
  width: 700px;
}
.label
{
 margin: 10px;
 padding-left:20px ;
 display: inline-block;
 width: 200px;
 margin-right: 50px;
 text-align: left;

}
.textbox
{
   padding-right:20px;
   margin-left: 10px;
}
