 
.oval {
             margin: 8px;
                width: 1100px;
                height: 340px;
                border: 1px solid red;
                border-radius: 40px;
   }
 .row {
    
   width: 1100px;
   margin:8px;
    overflow: hidden;
    padding: 5px;
    
}

.col {
  
    border: 1px solid blue;
    float: left;
    padding: 5px;
    margin-right: 5px;
}


