 body
   {
   margin: 0;
   padding: 0;
   font-family: Century Gothic;
   background-image: url(../images/23.jpg);

	background-size: cover;
	
   }
   
   .box
   {
	   position: absolute;
	   left: 50%;
	   top: 60%;
	   transform: translate(-50%,-50%);
	   width: 400px;
	   padding: 60px;
	   background: rgba(0,0,0,.8);
	   box-sizing: border-box;
	   box-shadow: 0 15px 25px rgba(0,0,0,.5);
	   border-radius: 10px;
   }
   
      .box h2
	  {
		   margin: 0 0 30px;
           padding: 0;
		   color: #fff;
		   text-align: center;
	  }
	  
	  .box .inputBox
	  {
		  position: relative;
	  }
	  
	  .box .inputBox input
	  {
		  width: 100%;
		  padding:10px 0;
		  font-size: 16px;
		  color: #fff;
		  letter-spacing: 1px;
		 
		  margin-bottom: 30px;
		  border: none;
		  border-bottom: 1px solid #fff;
		  outline: none;
		   background: transparent;
	  }
	  
	   .box .inputBox label
	   {
		    position: absolute;
	   left: 0;
	   top: 0;
	   padding:10px 0;
		  font-size: 16px;
		  color: #fff;
		pointer-events: none;
		  transition: 0.5s;
	   }
	   
	    .box .inputBox input:focus ~ label,
		.box .inputBox input:valid ~ label
		{
			top: -18px;
			left: 0;
			color: #03a9f4;
			font-size: 12px;
		}
		
		.box input[type="submit"]
		{
			background: transparent;
			border: none:
			outline: none;
			color: #fff;
			background: #03a9f4;
			padding: 10px 20px;
			cursor: pointer;
			 border-radius: 5px;
			
		}
		
		
		.registration
		{ 
		  color: #fff;
		}
		
		.checkbox
		{
			color: #03a9f4;
		}
